
<nav class="nav_h">
    <ul>
        <li><a href="#" id="menuBtn">COLORES ▼</a></li>
        <li><a href="pinturas.html">PINTURAS</a></li>
        <li><a href="productos.html">PRODUCTOS</a></li>
        <li><a href="selladores.html">SELLADORES</a></li>
        <li><a href="inspiracion.html">INSPIRACIÓN</a></li>

    </ul>
</nav>
<nav class="menu" id="menu">
    <ul>
        <li><div class="figura" style="background-color: #ff7300"><a href="colores/calidos.html">CALIDOS</a></li>
        <li><div class="figura" style="background-color: #00a2ff"><a href="colores/frios.html">FRIOS</a></li>
        <li><div class="figura" style="background-color: #646464"><a href="colores/grises.html">GRISES</a></li>
        <li><div class="figura" style="background-color: #ea7eae"><a href="colores/pasteles.html">PASTELES</a></li>
        <li><div class="figura" style="background-color: #2bff00"><a href="colores/vivos.html">VIVOS</a></li>
    </ul>
</nav>
<script>
    const menuBtn = document.getElementById ('menuBtn')
    const menu = document.getElementById('menu')
    const overlay = document.getElementById('overlay')

    menuBtn.addEventListener('click', toggleMenu)
    overlay.addEventListener('click', toggleMenu)

    function toggleMenu(){
        menu.classList.toggle('active');
        overlay.classList.toggle('active');
    }
</script>

